In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/Parking_Violations_DC_2018.csv"
dcparking_df = pd.read_csv(csv_file)
dcparking_df.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID,ROWID_,DAY_OF_WEEK,HOLIDAY,WEEK_OF_YEAR,MONTH_OF_YEAR,ISSUE_TIME,VIOLATION_CODE,VIOLATION_DESCRIPTION,LOCATION,RP_PLATE_STATE,BODY_STYLE,ADDRESS_ID,STREETSEGID,XCOORD,YCOORD,TICKET_ISSUE_DATE
0,-76.9932,38.8876,4203048,NaN,NaN,NaN,NaN,NaN,NaN,P173,NO PARKING STREET CLEANING,1000 BLOCK INDEPENDENCE AVE SE S*,DC,NaN,811124,9532,400590,135528,2018-04-04T00:00:00.000Z
1,-77.0189,38.8967,4203049,NaN,NaN,NaN,NaN,NaN,NaN,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,600 BLOCK 5TH ST NW EAST SIDE,VA,NaN,805251,4503,398358,136543,2018-04-04T16:08:00.000Z
2,-77.0109,38.9072,4203050,NaN,NaN,NaN,NaN,NaN,NaN,P173,NO PARKING STREET CLEANING,UNIT BLOCK N ST NW NORTH SIDE,DC,NaN,806117,5250,399058,137709,2018-04-04T10:04:00.000Z
3,-77.0786,38.9127,4203051,NaN,NaN,NaN,NaN,NaN,NaN,P198,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,3900 BLOCK RESERVOIR RD NW SOUTH*,MD,NaN,812695,10916,393186,138317,2018-04-04T16:31:00.000Z
4,-77.0418,38.9233,4203052,NaN,NaN,NaN,NaN,NaN,NaN,P281,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,1700 BLOCK COLUMBIA RD NW SOUTH *,MA,NaN,800405,339,396379,139491,2018-04-04T19:22:00.000Z

In [11]:
new_dcparking_df = dcparking_df[['X','Y','VIOLATION_DESCRIPTION', 'TICKET_ISSUE_DATE' ]].copy()
new_dcparking_df.head()

,X,Y,VIOLATION_DESCRIPTION,TICKET_ISSUE_DATE
0,-76.9932,38.8876,NO PARKING STREET CLEANING,2018-04-04T00:00:00.000Z
1,-77.0189,38.8967,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,2018-04-04T16:08:00.000Z
2,-77.0109,38.9072,NO PARKING STREET CLEANING,2018-04-04T10:04:00.000Z
3,-77.0786,38.9127,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,2018-04-04T16:31:00.000Z
4,-77.0418,38.9233,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,2018-04-04T19:22:00.000Z

In [13]:
csv_file = "Resources/2018 dc-crimes.csv"
dccrimes_df = pd.read_csv(csv_file)
dccrimes_df.head()

,NEIGHBORHOOD_CLUSTER,CENSUS_TRACT,offensegroup,LONGITUDE,END_DATE,offense-text,SHIFT,YBLOCK,DISTRICT,WARD,...,BLOCK,START_DATE,CCN,OFFENSE,OCTO_RECORD_ID,ANC,REPORT_DAT,METHOD,location,LATITUDE
0,cluster 20,9501.0,violent,-77.001338,2018-06-29T04:16:58.000,assault w/dangerous weapon,midnight,141428.0,4.0,5,...,290 - 399 block of taylor street ne,2018-06-29T01:33:41.000,18105959,assault w/dangerous weapon,18105959-01,5A,2018-06-29T07:24:04.000Z,gun,"38.940749726052005,-77.001340321018176",38.940742
1,cluster 6,10700.0,property,-77.041679,2018-06-29T03:27:13.000,theft f/auto,midnight,137809.0,2.0,2,...,1300 - 1399 block of 18th street nw,2018-06-29T02:46:03.000,18105973,theft f/auto,18105973-01,2B,2018-06-29T07:28:14.000Z,others,"38.908141188407896,-77.041681467729603",38.908133
2,cluster 8,5800.0,property,-77.022434,2018-06-29T02:58:41.000,burglary,day,137002.0,1.0,2,...,700 - 799 block of i street nw,2018-06-29T02:55:32.000,18106012,burglary,18106012-01,2C,2018-06-29T11:20:16.000Z,others,"38.900876728309974,-77.02243642733967",38.900869
3,cluster 1,3800.0,property,-77.040613,2018-06-16T18:27:19.000,theft/other,midnight,139054.0,3.0,1,...,2200 - 2260 block of champlain street nw,2018-06-16T17:36:17.000,18098009,theft/other,18098009-01,1C,2018-06-17T05:55:09.000Z,others,"38.919356945522274,-77.040615610052697",38.919349
4,cluster 8,5201.0,property,-77.031567,NaN,theft/other,evening,137555.0,3.0,2,...,10 - 10 block of thomas circle nw,2018-07-03T18:31:51.000,18108776,theft/other,18108776-01,2F,2018-07-03T23:19:56.000Z,others,"38.905856237775417,-77.031569074382645",38.905848

In [16]:
new_dccrimes_df = dccrimes_df[['LONGITUDE','LATITUDE','OFFENSE','START_DATE','END_DATE']].copy()
new_dccrimes_df.head()

,LONGITUDE,LATITUDE,OFFENSE,START_DATE,END_DATE
0,-77.001338,38.940742,assault w/dangerous weapon,2018-06-29T01:33:41.000,2018-06-29T04:16:58.000
1,-77.041679,38.908133,theft f/auto,2018-06-29T02:46:03.000,2018-06-29T03:27:13.000
2,-77.022434,38.900869,burglary,2018-06-29T02:55:32.000,2018-06-29T02:58:41.000
3,-77.040613,38.919349,theft/other,2018-06-16T17:36:17.000,2018-06-16T18:27:19.000
4,-77.031567,38.905848,theft/other,2018-07-03T18:31:51.000,NaN